In [8]:
'''
 I am a student'''

'\n I am a student'

In [10]:
cn= -1 + 0j
type(cn)

complex

In [12]:
a= "123"
print(type(a))
b= bool(a)
print(type(b))
b

<class 'str'>
<class 'bool'>

True

In [58]:
tup1, tup2, tup3=("hello",), ("world",), ("again",)
print(type(tup1), type(tup2), type(tup3), sep="\n")

<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

In [62]:
boolean= True
st= str(boolean)
type(st)

str

In [10]:
import numpy as np
matrix1= np.array(([1,2],[3,4]))
matrix2= np.array(([5,6],[7,8]))
addition= np.add(matrix1, matrix2)
print(matrix1, matrix2)

[[1 2]
 [3 4]] [[5 6]
 [7 8]]

In [4]:
print("this has been a good\\nice place to be at")

this has been a good\nice place to be at

In [6]:
a= "he is a good boy"
print(a.replace('he', 'akshay'))

akshay is a good boy

## UNIT 2

LISTS

In [41]:
L= ["jackson", 2, 4.34, ["michael",2]]
print(L[-3])
print(L)
for x in L:
    if x!= L[-1]:
        print(x, end=', ')
    else:
        print(x)

2
['jackson', 2, 4.34, ['michael', 2]]
jackson, 2, 4.34, ['michael', 2]

In [23]:
L1= ["stand", 2, 4.56]
L1.extend(L)
print(L1)
L1.extend("pop")
print(L1)
L1.append("star")
#L1.remove("pop", "star")
#print(L1)
#del L1[2:4]                                            #removes 4.56 and 'jackson'
print(L1)

['stand', 2, 4.56, 'jackson', 2, 4.34, ['michael', 2]]
['stand', 2, 4.56, 'jackson', 2, 4.34, ['michael', 2], 'p', 'o', 'p']
['stand', 2, 4.56, 'jackson', 2, 4.34, ['michael', 2], 'p', 'o', 'p', 'star']

In [99]:
L2= L[ : ]
print(L2)
list1= [1, 'hello', [1,2,3], True]
print(list1)
print(L+ L1)

['jackson', 2, 4.34, ['michael', 2]]
[1, 'hello', [1, 2, 3], True]
['jackson', 2, 4.34, ['michael', 2], 'stand', 2, 2, 4.34, ['michael', 2]]

PROFIT PERCENTAGE

In [113]:
sp= 0
cp= 0
print("Enter Cost price")
for x in range(0,3):
    a= float(input())
    cp= cp+a
print("Enter Selling price")
for x in range(0,3):
    a= float(input())
    sp= sp+a
profit= sp-cp
pper= (profit/cp)*100
pper= round(pper,2)
print("Profit percentage="+ str(pper)+ "%")

Enter Cost price

 25.5
 103.3
 86.02

Enter Selling price

 40.2
 125
 91.41

Profit percentage=19.45%

MINIMUM OF PRIME NUMBERS TILL 10

In [3]:
prime= [2, 3, 5, 7]
print(min(prime))

2

TUPLES

In [6]:
student_info= ("Linda", 18, ["Math", "Physics", "History"])
student_info[2].append("Computer science")
print(student_info)

('Linda', 18, ['Math', 'Physics', 'History', 'Computer science'])

Calculate simple interest and amount to be paid after 3 years

In [7]:
p= int(input("Enter principal amount: "))
r= int(input("Enter rate: "))
t= int(input("Enter time: "))
si= (p*r*t)/100
t_amount= p+si
print("Amount to be paid: ", t_amount)

Enter principal amount:  25000
Enter rate:  12
Enter time:  3

Amount to be paid:  34000.0

Program to enter name, age, course, hostel

In [17]:
name= input("Enter name: ")
age= int(input('Enter age: '))
course= input('Enter course: ')
hostel= input('Enter hostel')
print(name, age, course, hostel, sep="\t")

Enter name:  Harkeerat
Enter age:  18
Enter course:  CSE- DATA SCIENCE
Enter hostel BH-2

Harkeerat	18	CSE- DATA SCIENCE	BH-2

Roots of a quadratic equation

In [24]:
a= int(input("Enter coefficient of x^2: "))
b= int(input("Enter coefficient of x: "))
c= int(input("Enter the constant: "))
d= (pow(b,2))-(4*a*c)
if(d<0):
    print("Roots are complex")
    sys.exit()
root1= ((-b) + (pow(d,0.5)))/2
root2= ((-b) - (pow(d,0.5)))/2
print("Roots are: "+ str(root1)+ str(root2))

Enter coefficient of x^2:  1
Enter coefficient of x:  6
Enter the constant:  -12

Roots are: 1.5825756949558398-7.58257569495584

In [30]:
tup= ("he", 'is', 'a', 'good', 'boy')
print('is' in tup)

True

In [34]:
li= ["rahul", "rnul"]
print(min(li))

rahul

SETS

In [25]:
lfset= ['banana', 'apple']
set1= set(lfset)
print(set1)
set1.add(12)
print(set1)
set1.remove(12)
set2= {'orange', 'banana', 'grapes'}

print(set1.intersection(set2))
print(set1.difference(set2))
print(set1.union(set2))

{'apple', 'banana'}
{'apple', 'banana', 12}
{'banana'}
{'apple'}
{'apple', 'banana', 'grapes', 'orange'}

In [47]:
x= set()
x= None
print(x)
print(type(x))

None
<class 'NoneType'>

DICTIONARY

In [23]:
dic= {1:'John', 2:'Brown', 3:'Moana', 'Hello':'Gigi', 5: [6,(4,"hello",True)], (6,7,'hi'): "Fire"}
print(dic)
print(type(dic))
print(dic[5])

{1: 'John', 2: 'Brown', 3: 'Moana', 'Hello': 'Gigi', 5: [6, (4, 'hello', True)], (6, 7, 'hi'): 'Fire'}
<class 'dict'>
[6, (4, 'hello', True)]

In [43]:
dic['valve']= '18 inch'
print(dic)
dic[3]= 'Michael'
del(dic['valve'])
print(dic)

{1: 'John', 2: 'Brown', 3: 'Michael', 'Hello': 'Gigi', 5: [6, (4, 'hello', True)], (6, 7, 'hi'): 'Fire', 'valve': '18 inch'}
{1: 'John', 2: 'Brown', 3: 'Michael', 'Hello': 'Gigi', 5: [6, (4, 'hello', True)], (6, 7, 'hi'): 'Fire'}

In [57]:
soundtrack_dic= {'The Bodyguard' : "1992", "Saturday Night Fever" : "1997"}
print(soundtrack_dic.values())
print(soundtrack_dic.keys())

dict_values(['1992', '1997'])
dict_keys(['The Bodyguard', 'Saturday Night Fever'])

In [65]:
album_sales_dict= {'Four Me' : '50 Million', 'Four You': "20 Million", "Making Memories": '30 Million'}
album_sales_dict['Making Memories']

'30 Million'

LOGICAL OPERATORS

In [83]:
x, y= 5, 10
print(not(x != y))

False

In [79]:
year= int(input("Enter year:"))
print(year%4==0 and year%100!=0 or year%400==0)

Enter year: 2000

True

In [87]:
z= 0
z<1<6

True

In [93]:
print(bool(9))
print(bool(0))

True
False

CONDITIONAL STATEMENTS

In [101]:
numb= int(input())
if numb<3:
    print('hi')
else:
    print('hello')

 6

hello

In [103]:
year= int(input("Enter Year"))
if(year%4==0 and year%100!=0 or year%400==0):
    print("Leap Year")
else:
    print("Not a leap year")

 2400

Leap Year

In [6]:
wt= int(input("Enter Weight:"))
if(wt>23):
    print("Overweight")
else:
    print("The weight falls within our limits \nThank you for using this service")

Enter Weight: 20

The weight falls within our limits
Thank you for using this service

In [109]:
marks= int(input("Enter marks:"))
if(marks == 100):
    print("Perfect Score")
elif(marks >40):
    print('Passed')
else:
    print("Failed")

Enter marks: 50

Passed

In [113]:
age= int(input("Enter age:"))
if(age>18 or age==18):
    print("Eligible for card")
else:
    print('Ineligible for card')

Enter age: 19

Eligible for card

In [117]:
days= int(input('Enter number of days:'))
if(days>15):
    fine= 10* (days-15)
    print("Fine of Rs.", fine, "has been applied to your account")
else:
    print('No fine')

Enter number of days: 18

Fine of Rs. 30 has been applied to your account

In [8]:
num= int(input("Enter a number: "))
if(num%2 == 0):
    print(num, "is an even number")
else:
    print(num, "is an odd number")

Enter a number:  5

5 is an odd number

In [18]:
a,b= map(int, input('Enter two numbers separated by space').split())
if(a>b):
    print(a,'>',b)
else:
    print(b,'>',a)

Enter two numbers separated by space 5 6

6 > 5

In [ ]:
import datetime

In [3]:
age= int(input('Enter your age'))
if(age>18 or age==18):
         print('You are old enough to drive')
else:
    print("Wait till you turn 18")

Enter your age 18

You are old enough to drive

LOOP CONTROL STATEMENTS

In [17]:
import time
n=10
while(n!=0):
    print(n)
    time.sleep(1)
    n -= 1
print('Happy New Year!!')

10
9
8
7
6
5
4
3
2
1
Happy New Year!!

In [15]:
n= int(input("Till which natural number do you want sum upto?"))
sum,i = 0,1
while(i<n+1):
    sum= sum+i
    i= i+1
print('Sum of', n, 'natural numbers is', sum)

Till which natural number do you want sum upto? 5

Sum of 5 natural numbers is 15

In [21]:
num= int(input('Enter number whose factorial is to be found:'))
fact= 1
ini=num
if(num==0):
    print('Factorial of', n, 'is 1')
elif(num<0):
    print('Invalid input')
else:
    while(num!=0):
        fact= fact*num
        num = num-1
    print('Factorial of', ini, 'is', fact)

Enter number whose factorial is to be found: 5

Factorial of 5 is 120

In [29]:
st= input('Enter a string')
l1= list(st)
for x in l1:
    print(x, end=' ')

Enter a string hello

h e l l o

In [53]:
dic= {1:'John', 		
      2:'Brown', 	
      3:'Moana',	 
      4:'Gigi', 	  
      5: [6,(4,"hello",True)], 	
      (6,7,'hi'): "Fire"}
for key, val in dic.items():
    print(key, val, end='\t||\t')
for x in dic.keys()

1 John	||	2 Brown	||	3 Moana	||	4 Gigi	||	5 [6, (4, 'hello', True)]	||	(6, 7, 'hi') Fire	||

In [67]:
name = ["John", "Doe", "p", "o", "i"]
for i in range(-1, -len(name)-1, -1):
    print(name[i], ':', i)

i : -1
o : -2
p : -3
Doe : -4
John : -5

In [71]:
for i in range(1,6):
    for j in range(1,i+1):
        print('*', end='')
    print()

*
**
***
****
*****

In [17]:
x = 0 

while x < 25:
    print(f"x is currently: {x}")
    print(f"x is still less than 25, adding 1 to x")
    x += 1
    if x==15:
        print("x = 10")
        break
    elif(i==4):
        print("continuing...")
        continue                                              #continue is used in a condition only

x is currently: 0
x is still less than 25, adding 1 to x
x is currently: 1
x is still less than 25, adding 1 to x
x is currently: 2
x is still less than 25, adding 1 to x
x is currently: 3
x is still less than 25, adding 1 to x
x is currently: 4
x is still less than 25, adding 1 to x
x is currently: 5
x is still less than 25, adding 1 to x
x is currently: 6
x is still less than 25, adding 1 to x
x is currently: 7
x is still less than 25, adding 1 to x
x is currently: 8
x is still less than 25, adding 1 to x
x is currently: 9
x is still less than 25, adding 1 to x
x is currently: 10
x is still less than 25, adding 1 to x
x is currently: 11
x is still less than 25, adding 1 to x
x is currently: 12
x is still less than 25, adding 1 to x
x is currently: 13
x is still less than 25, adding 1 to x
x is currently: 14
x is still less than 25, adding 1 to x
x = 10

## Functions

In [62]:
def greet(name):
    print('Hello world', name)
def hello():
    print('Hi')
print(greet)
greet('Jose')
hello                                             # calling fn without () only works when written in the last line otherwise no effect

<function greet at 0x0000021D3865A3E0>
Hello world Jose

In [72]:
def larger_find(n1,n2):
    if(n1>n2):
        return n1
    else:
        return n2
print(larger_find('A','B'))
larger_find('A', 'B')

B

'B'

In [74]:
def addition(n1,n2):
    return(n1+n2)
add= addition(5,10)
print(add)v

15

In [86]:
def addition(n1,n2):
    print(n1+n2)
add=addition(10,5)
print(add)

15
None

In [88]:
def even(n1):
    if(n1%2==0):
        return True
if(even(56)):
    print(True)

True

In [141]:
def eve(l1):
    sum= 0
    for i in l1:
        sum=sum+i
    mean=sum/len(l1)
    big_mean= [i for i in l1 if i>mean]
    return big_mean
l1= [21, 22, 24, 25]
eve(l1)

[24, 25]

In [150]:
def summation():
    sum=0
    for i in range(0,101):
        sum=sum+i
    return sum
summation()

5050

METHODS

In [7]:
name= ['joe', 'milkie', 'jason']
L= [21, 24, True]
name.append('michael')					# only takes 1 argument; adds only a single element even if it is a list, whole list is added as single element
name.count('joe')                       # counts the number of times a particular items occurs in the iterable
name.insert(2, 'forty')
name.remove('joe')						#for multiple similar items, first occurrence is removed, takes only 1 argument
name.pop()								#removes item at last index
del name[2]							    #removes item at that index, can also be used to delete whole list. We can also pass a range in argument
del name								#deletes list
name.index('milkie')					#returns the index of the item
name.extend(L)							#adds multiple elements to a list as a single entity;  only takes 1 
name.clear()							#clears whole list

1

LAMBDA EXPRESSIONS, MAP, and FILTER

In [10]:
# The map function is allows you to map a function to an iterable object. Using it you can quickly call the same function to every item in an iterable

In [7]:
nums= [ i for i in range(1, 101)]

def prime(number):
    for j in range(2, number):
        if(number%j != 0):
             return True
        else:
            return False

a = list(filter(prime, nums))
print(a)

[3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

Write a function that computes the volume of a sphere given its radius

In [65]:
import math
radius= int(input())
def vol(r):
    return((4*math.pi*r*r*r)/3)
vol(radius)

 5

523.5987755982989

Write a function that cheks whether a number is in a given range(inclusive of high and low)

In [86]:
high= int(input('High:'))
low= int(input('Low:'))
check= int(input('Number to be checked:'))

def ranging(upper, lower, num):
    print(num>= lower and num<= upper)

ranging(high, low, check)

High: 100
Low: 1
Number to be checked: 5

True

In [88]:
str= input()
upper, lower= 0, 0
for i in str:
    if(i.isupper()):
        upper= upper+1
    elif(i.islower()):
        lower= lower+1
print(upper, lower, sep='\n')

 HeLLo WoRlD

6
4